<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <h1>Input User</h1>
    <form action="/index/" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username"  /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="submit" />
    </form>

    <h1>User Show</h1>
    <table border="1">
        <thead>
            <tr>Username</tr>
            <tr>Password</tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.user }}</td>
                <td>{{ item.pwd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>